h1 
{
    text-align: center;
    color:#0081A7;
}
#bio
{
    text-align: center;
}
#headshot 
{
    width: 300px;
    border-color: #00AFB9;
    border-style: groove;
}
#media_img
{
    text-align: center;
    width: 300px;
    border-radius: 50%;
}
h2 
{
    text-align: center;
    color:#0081A7;
}
h3 
{
    text-align: center;
    color:#0081A7;
}
ol {
    list-style-type: upper-roman;
}
body 
{
    background-color: #FDFCDC;
    font-size: 14pts;
}
form 
{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    border-color: #00AFB9;
    border-style: groove;
    border-width: 5px;
    background-color: #FED9B7;
}
#feedback 
{
    text-decoration: underline;
}
h4 
{
    color:#0081A7;
    font-size: 1.2em;
    text-align: left;
    margin-left: 15px;
}

label 
{
    display: block;
    margin-top: 1em;
    font-size: 1.2em;
}

input[type="text"]
{
    width: 95%;
    padding: 0.5em;
    font-size: 1.2em;
    box-sizing: border-box;
}

textarea 
{
    width: 95%;
    padding: 1.5em;
    font-size: 1.2em;
    margin-top: 0.5em;
    box-sizing: border-box;
}

button[type="submit"] 
{
    padding: 0.5em 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #00AFB9;
    color: #FED9B7;
    border-radius: 5px;
    cursor: pointer;
    width: 95%;
}

button[type="submit"]:hover 
{
    background-color: green;
}


